/* CUSTOM PROPERTYS */
:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;
 
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --naranja: #FF7900;
    --azulclaro: #009EFF;
    --azulOscuro: #003AFF;
    --verdeClaro: #80cc00;
    --rojo: #bb1c2a;
    --amarillo: #fcbd00;
 }
 html{
     box-sizing: border-box;
     font-size: 62.5%; /* 1 rem = 10px */
 }
 *, *:before , *:after{
     box-sizing: inherit;
 }
 body{
     font-family: var(--fuenteParrafo);
     font-size: 1.6rem;
     line-height: 2;
     background-color: var(--gris);
 }


 /* GLOBALES */
.contenedor{
    width: min(70%, 130rem);
    margin: 0 auto;
    background-color: var(--naranja);
    padding: 5rem 5rem;
    margin-top: 3rem;
    border: 1px solid var(--negro);
}
h1{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    font-size: 4.8rem;
}

/* Clases */
.title{
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
    Word-wrap: break-Word;
}
.add-btn{
    background-color: var(--azulclaro);
    font-family: var(--fuenteHeading);
    color:var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    height: 5rem;
    border-radius: 0 0 10px 10px;
}
.add-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--azulOscuro);
}
.todo-input{
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: none;
    height: 5rem;
    border-radius: 10px 10px 0 0;
}
.addTodos{
 display: flex;
 flex-direction: column;
 /* text-align: center; */
 /* justify-content: center center; */
 margin: 1rem 2rem;
 max-width: 90%;
}
@media (min-width: 768px) {
    .addTodos{
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
    }
    .todo-input{
        border-radius: 10px 0 0 10px;
    }
    .add-btn{
        border-radius: 0 10px 10px 0;
    }
}

.buttons{
    display: flex;
}

.buttons button{
    flex: 1;
    background-color: var(--azulclaro);
    font-family: var(--fuenteHeading);
    color:var(--blanco);
    text-align: center;
    padding: .5rem .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px 10px 10px 10px;
    margin: 0 1rem;
}

.buttons button:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--azulOscuro);
}

.displaytodos ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
}

@media (min-width: 768px) {
    .card{
        flex-direction: row;
    }
}

.card .card-item{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 100%;
}

.card .card-item input{
    height: 3rem;
    width: 20rem;
    background-color:transparent;
    border: none;
    color: var(--negro);
    text-align: center;
}

.btns{
    display: flex;
}

.btns button{
    padding: 1rem 2rem;
    border: none;
    color:var(--blanco);
    font-weight: 700;
}
.btns button:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

.btns .btnEdit{
    background-color: var(--azulOscuro);
}
.btns .btnCompleted{
    background-color: var(--verdeClaro);
}
.btns .btnDelete{
    background-color: var(--rojo);
}
.btninCompleted{
    background-color: var(--amarillo);
}

.active{
    background-color: var(--amarillo);
}
.completed{
    background-color: var(--verdeClaro); 
}
.statusT{
    padding: 1rem;
    border-radius: 50%;
}

.card-item:last-of-type{
    margin-top: .5rem;
}

@media (min-width: 768px) {
    .card-item:last-of-type{
        margin-top: 0.2rem;
    }
}